[build]
  command = "cd netlify && npm install && cd ../frontend && npm install && npm run build:web"
  publish = "frontend/.expo/web"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"
  included_files = ["netlify/functions/**"]

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
