FIREBASE_PROJECT_ID=matkisleaderboard
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@matkisleaderboard.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"